
@import 'https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One';

.container {
    height: auto;
    width:auto;
    margin-bottom:10px;
}

body {
    background: url("../img/1.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: Iceland;
    background-position:center;
    color: red;
    font-family: Iceland;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: none;
}

table > thead > tr > td {
    /* Remove border line from thead of all tables */
    /* It can overlap with other element styles */
    border-top: none !important;
}

nav{
    background: #000;
    color: red;
    border-bottom: 1px solid red;
    font-size: 1.4rem;
}

#score-graph {
    height: 450px;
    display: block;
    clear: both;
}

.fa-spin.spinner {
    margin-top: 225px;
    text-align: center;
    opacity: 0.5;
}

.spinner-error {
    padding-top: 20vh;
    text-align: center;
    opacity: 0.5;
}

.jumbotron {
    background-color: #000;
    color: red;
    border-radius: 0;
    text-align: center;
}

.form-control {
    position: relative;
    display: block;
    padding: 0.8em;
    border-radius: 0;
    border-color: #EF2713;
    background: #000;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    margin: auto;
}

.form-control:focus {
    background-color: transparent;
    border-color: #EF2713;
    box-shadow: 0 0 0 0.2rem #EF2713;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-valid {
    background-color: transparent;
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.2rem #a3d39c;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #545454;
    border-color: #545454;
    border: 3px solid;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn {
    letter-spacing: 1px;
    text-decoration: none;
    -moz-user-select: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
    background-color: #000;
    color:red;
    border:1px solid red;
}
.btn:hover {
    background-color: red;
    color:black;
    border:1px solid red;
}
.btn-info {
    background-color: #4D0D01 !important;
    border-color: red !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.alert {
    border-radius: 0 !important;
    padding: 0.8em;
}

.btn-fa {
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}
#scoreboard,.team{
    background-color: black;
}
#scoreboard {
    font-size: 1.4rem;
}
main .container{
    margin-bottom:20vh;
}
main .jumbotron .container{
    margin-bottom:0 !important;
}
/*Glitch text*/
.main-body
{
    min-height: 50vh;
    color:red;
    font-family: Iceland;
    font-size: 3rem;
    background-color: black;
    margin-top: 10vh;
    box-shadow: 1px 1px 1px 1px red;
}
.main-body h1{
  font-size: 4rem;
  margin: auto;
}
.glitch-text {
  position: relative;
}
@keyframes noise-anim {
  0% {
    clip: rect(61px, 9999px, 71px, 0);
  }
  5% {
    clip: rect(13px, 9999px, 100px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 36px, 0);
  }
  15% {
    clip: rect(74px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 15px, 0);
  }
  25% {
    clip: rect(46px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(72px, 9999px, 98px, 0);
  }
  40% {
    clip: rect(54px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(29px, 9999px, 30px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 60px, 0);
  }
  55% {
    clip: rect(22px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(94px, 9999px, 60px, 0);
  }
  65% {
    clip: rect(72px, 9999px, 54px, 0);
  }
  70% {
    clip: rect(100px, 9999px, 5px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 26px, 0);
  }
  80% {
    clip: rect(58px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 40px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(7px, 9999px, 46px, 0);
  }
}
.glitch-text:after {
  text-align: center;
  content: attr(data-text);
  position: absolute;
  left: -1px;
  top: 0;
  overflow: hidden;
  text-shadow: 2px solid white;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(49px, 9999px, 55px, 0);
  }
  5% {
    clip: rect(7px, 9999px, 8px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 48px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 44px, 0);
  }
  20% {
    clip: rect(51px, 9999px, 50px, 0);
  }
  25% {
    clip: rect(30px, 9999px, 28px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 22px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 38px, 0);
  }
  40% {
    clip: rect(35px, 9999px, 48px, 0);
  }
  45% {
    clip: rect(79px, 9999px, 69px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 10px, 0);
  }
  55% {
    clip: rect(11px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 93px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(91px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(47px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(77px, 9999px, 61px, 0);
  }
  85% {
    clip: rect(68px, 9999px, 41px, 0);
  }
  90% {
    clip: rect(7px, 9999px, 24px, 0);
  }
  95% {
    clip: rect(52px, 9999px, 23px, 0);
  }
  100% {
    clip: rect(65px, 9999px, 69px, 0);
  }
}
.glitch-text:before {
  text-align: center;
  word-wrap: normal;
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px solid white;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/*Typewriter effect*/
.typewriter h5 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red }
}
