.chal-desc {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
code {
    font-size: 0.7em;
    font-style: italic;
}

.modal-content {
    border-radius: 0px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
    background: #000 !important;
}

.btn-info {
    background-color: #4D0D01 !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.challenge-button {
    background-color: #C21807;
    box-shadow: 1px 1px 1px 1px red;
    border:none;
    color: #000;
}

.challenge-button:hover {
    background-color: #000;
    box-shadow: 1px 1px 1px 1px red;
    border:none;
    color:red;
}

.solved-challenge {
    background-color: #C21807 !important;
    opacity: 0.4;
    border: none;
}

.corner-button-check {
    margin-top: -10px;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.key-submit .btn {
    height: 51px;
}

.close {
    color: #C51005 !important;
}
