/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0px; /* prevent scrollbars from showing on pages that don't use the full page height */
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #000;
}
.footer-text{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    color:white !important;
    font-size: 1.5rem;
}
.footer .container{
  margin-bottom: 0;
}
